<h2>Profil de <%= @user.first_name + " " + @user.last_name %></h2>
<p style="float: right"><%= link_to "Supprimer", user_path(@user), :method => :delete, :class => "btn" %></p>
<style>
.user_posts{
	background: none repeat scroll 0 0 #EDEDED;
    list-style: none outside none;
    margin-top: 15px;
    padding: 10px;
    overflow: hidden;
}
.user_posts .date{
	float: right;
    font-size: 10px;
    font-style: italic;
}
.comment{
	background: none repeat scroll 0 0 #EDEFF4;
    border-top: 1px solid #DBDBDB;
    list-style: none outside none;
    padding: 10px 10px 10px 50px;
}
.comment .date{
	float: right;
    font-size: 10px;
    font-style: italic;
}
.owner{
	font-weight:bold;
	font-size:12px;
}
</style>
<ul>
<% @user.posts.each do |post| %>
	<li class="user_posts"> 
		<u>De : <%= User.find(post.owner).first_name %> <%= User.find(post.owner).last_name %></u><br />
		<%= post.content %><br />
		<span class="date"><%= post.created_at %></span>
		
	
	</li>
	<% post.comments.each do |comment| %>
		<li class="comment">
			<span class="owner"><%= User.find(comment.owner_id).first_name %> <%= User.find(comment.owner_id).last_name %></span><br />
    		<%= comment.content %>
    		<span class="date"><%= comment.created_at %></span>
    	</li>
	<% end %>
<% end %>
</ul>


<p style="float: right"><%= link_to "Supprimer", user_path(@user), :method => :delete %></p>
<p>
  <%= image_tag @user.avatar.url("300") %>
</p>
<ul class="unstyled">
  <li><i class="icon-user"></i><%= @user.first_name + " " + @user.last_name %></li>
  <li><i class="icon-envelope"></i><%= @user.email %></li>
</ul>



<h2>Amis avec :</h2>
<ul>
  <% for friendship in @user.friendships + @user.inverse_friendships %>
      <% if friendship.is_valided? %>
          <li>
            <% if friendship.friend.name != @user.name %>
                <%= h friendship.friend.name %>
            <% else %>
                <%= h friendship.user.name %>
            <% end %>
            <% if !current_user.nil? && @user.id == current_user.id %>
                (<%= link_to "Supprimer", friendship, :method => :delete %>)
            <% end %>
          </li>
      <% end %>
  <% end %>
</ul>

<% if !current_user.nil? && @user.id == current_user.id %>
    <h2>Demande d'ami :</h2>
    <ul>
      <% for inverse_friendship in @user.inverse_friendships %>
          <% if !inverse_friendship.is_valided? %>
              <li>
                <%= h inverse_friendship.user.name %> <%= link_to "Accepter", acceptFriend_path(:user_id => inverse_friendship.user.id) %>
              </li>
          <% end %>
      <% end %>
    </ul>
<% end %>

<h2>Activités :</h2>

<ul class="unstyled">
  <% Friendship.last(15).each do |f| %>
    <li><span style="color: #cccccc;"><%= f.created_at %></span> <%= User.find(f.user_id).name + " est connecté à " + User.find(f.friend_id).name %></li>
  <% end %>
</ul>

<% if !current_user.nil? && @user.id != current_user.id && !current_user.friends.include?(@user) %>
  <%= link_to "Ajouter à ses amis", friendships_path(:friend_id => @user), :method => :post %>
<% end %>

