<h2>Profil de <%= @user.first_name + " " + @user.last_name %></h2>
<p>
  <%= image_tag @user.avatar.url("300") %>
</p>
<ul class="unstyled">
  <li><i class="icon-user"></i><%= @user.first_name + " " + @user.last_name %></li>
  <li><i class="icon-envelope"></i><%= @user.email %></li>
</ul>



<h2>Amis avec :</h2>
<ul>
  <% for friendship in @user.friendships + @user.inverse_friendships %>
      <% if friendship.is_valided? %>
          <li>
            <% if friendship.friend.name != @user.name %>
                <%= h friendship.friend.name %>
            <% else %>
                <%= h friendship.user.name %>
            <% end %>
            <% if !current_user.nil? && @user.id == current_user.id %>
                (<%= link_to "Supprimer", friendship, :method => :delete %>)
            <% end %>
          </li>
      <% end %>
  <% end %>
</ul>

<% if !current_user.nil? && @user.id == current_user.id %>
    <h2>Demande d'ami :</h2>
    <ul>
      <% for inverse_friendship in @user.inverse_friendships %>
          <% if !inverse_friendship.is_valided? %>
              <li>
                <%= h inverse_friendship.user.name %> <%= link_to "Accepter", acceptFriend_path(:user_id => inverse_friendship.user.id) %>
              </li>
          <% end %>
      <% end %>
    </ul>
<% end %>

<% if !current_user.nil? && @user.id != current_user.id && !current_user.friends.include?(@user) %>
    <%= link_to "Ajouter à ses amis", friendships_path(:friend_id => @user), :method => :post %>
<% end %>
