<!DOCTYPE html>
<html>
<head>
  <title>SupBook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .sidebar-nav {
      padding: 9px 0;
    }

    a {
      text-decoration: none;
    }
  </style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="i-bar"></span>
        <span class="i-bar"></span>
        <span class="i-bar"></span>
      </a>
      <a href="#" class="brand">SupBook</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="<%= url_for users_url %>">Utilisateurs</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
                <% if current_user.nil? %>
          <div class="pull-right user-buttons">
            <p class="navbar-text pull-right"><a href="<%= url_for new_user_session_path %>" class="btn" style="color: grey;">Connexion</a>
            <a href="<%= url_for new_user_registration_path %>" class="btn danger">Inscription</a></p>
          </div>
        <% else %>
          <p class="navbar-text pull-right"><%= link_to "Déconnexion", destroy_user_session_path, :method => :delete %></li>

        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Sidebar</li>
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="nav-header">Sidebar</li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="nav-header">Sidebar</li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">

      <%= yield %>

    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p>&copy; SupBook 2012</p>
  </footer>

</div><!--/.fluid-container-->


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/tests/vendor/jquery.js"></script>
<script src="../assets/js/bootstrap-transition.js"></script>
<script src="../assets/js/bootstrap-collapse.js"></script>


</body>
</html>
