<!DOCTYPE html>
<html>
<head>
  <title>SupBook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .sidebar-nav {
      padding: 9px 0;
    }

    a {
      text-decoration: none;
    }
  </style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="i-bar"></span>
        <span class="i-bar"></span>
        <span class="i-bar"></span>
      </a>
      <a href="#" class="brand">SupBook</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <% unless current_user.nil? %>
            <li><a href="<%= url_for user_path(current_user) %>">Mon Profil</a></li>
          <% end %>
          <li><a href="<%= url_for users_url %>">Utilisateurs</a></li>
          <li><a href="/invitations">Inviter un ami</a></li>
        </ul>
        <% if current_user.nil? %>
          <div class="pull-right user-buttons">
            <p class="navbar-text pull-right"><a href="<%= url_for new_user_session_path %>" class="btn" style="color: grey;">Connexion</a>
              <a href="<%= url_for new_user_registration_path %>" class="btn danger">Inscription</a></p>
          </div>
        <% else %>
          <p class="navbar-text pull-right"><%= link_to "Déconnexion", destroy_user_session_path, :method => :delete %></li>

        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Sidebar</li>

          <% User.last(15).each do |u| %>
            <li><a href="<%= url_for user_path(u) %>"><%= u.name %></a></li>
          <% end  %>

          <li class="nav-header">Dernieres activites</li>
          <% Friendship.last(15).each do |f| %>
            <li style="font-size: 10px;"><span style="color: #cccccc;"><%= f.created_at.strftime("%H:%M") %></span> <%= User.find(f.user_id).name + " est connecté à " + User.find(f.friend_id).name %></li>
          <% end %>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">


      <% flash.each do |key, value| %>

        <div class="alert <%= key %>">
          <a class="close" href="#">×</a>
          <p><%= raw(value) %></p>
        </div>
        <%= javascript_tag("$('.alert').delay(4000).slideUp('normal');") %>
      <% end %>

      <%= yield %>

    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p>&copy; SupBook 2012</p>
  </footer>

</div><!--/.fluid-container-->


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/tests/vendor/jquery.js"></script>
<script src="../assets/js/bootstrap-transition.js"></script>
<script src="../assets/js/bootstrap-collapse.js"></script>


</body>
</html>
